
@charset "utf-8";
/* CSS Document */




.parallax_content{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.parallax_content_layer{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}

.parallax_layer{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
.parallax_layer_child{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
}
.parallax_page{
	height: 1300px;
}